.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.56rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #af8a2e !important;
}
.bg-success {
  background-color: #18356a !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff5500 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #af8a2e !important;
  border-color: #af8a2e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6a541c !important;
  border-color: #6a541c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6a541c !important;
  border-color: #6a541c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #18356a !important;
  border-color: #18356a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #081223 !important;
  border-color: #081223 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #081223 !important;
  border-color: #081223 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a83800 !important;
  border-color: #a83800 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a83800 !important;
  border-color: #a83800 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #af8a2e;
  color: #af8a2e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6a541c !important;
  background-color: transparent!important;
  border-color: #6a541c !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #af8a2e !important;
  border-color: #af8a2e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #18356a;
  color: #18356a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #081223 !important;
  background-color: transparent!important;
  border-color: #081223 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #18356a !important;
  border-color: #18356a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff5500;
  color: #ff5500;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a83800 !important;
  background-color: transparent!important;
  border-color: #a83800 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff5500 !important;
  border-color: #ff5500 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #af8a2e !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #18356a !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff5500 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #5e4a19 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #050b17 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #993300 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #af8a2e;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff5500;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #af8a2e;
  border-color: #af8a2e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #af8a2e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ddc27f;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #3169d0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffddcc;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #af8a2e !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #af8a2e;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #af8a2e;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #af8a2e;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #af8a2e;
  border-bottom-color: #af8a2e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #af8a2e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23af8a2e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: relative !important;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: absolute !important;
}
.cid-tB0YZQqaCG .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tB0YZQqaCG .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tB0YZQqaCG .dropdown-item:hover,
.cid-tB0YZQqaCG .dropdown-item:focus {
  background: #af8a2e !important;
  color: white !important;
}
.cid-tB0YZQqaCG .dropdown-item:hover span {
  color: white;
}
.cid-tB0YZQqaCG .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tB0YZQqaCG .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tB0YZQqaCG .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tB0YZQqaCG .nav-link {
  position: relative;
}
.cid-tB0YZQqaCG .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown-menu,
.cid-tB0YZQqaCG .navbar.opened {
  background: #004438 !important;
}
.cid-tB0YZQqaCG .nav-item:focus,
.cid-tB0YZQqaCG .nav-link:focus {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tB0YZQqaCG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tB0YZQqaCG .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(0, 68, 56, 0.6);
}
.cid-tB0YZQqaCG .navbar.opened {
  transition: all 0.3s;
}
.cid-tB0YZQqaCG .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tB0YZQqaCG .navbar .navbar-logo img {
  width: auto;
}
.cid-tB0YZQqaCG .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar.collapsed {
  justify-content: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tB0YZQqaCG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tB0YZQqaCG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tB0YZQqaCG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tB0YZQqaCG .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tB0YZQqaCG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tB0YZQqaCG .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tB0YZQqaCG .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tB0YZQqaCG .navbar.navbar-short {
  min-height: 60px;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tB0YZQqaCG .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown-item.active,
.cid-tB0YZQqaCG .dropdown-item:active {
  background-color: transparent;
}
.cid-tB0YZQqaCG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #004438;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tB0YZQqaCG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tB0YZQqaCG ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tB0YZQqaCG .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tB0YZQqaCG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b52525;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tB0YZQqaCG a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tB0YZQqaCG .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tB0YZQqaCG .navbar {
    height: 70px;
  }
  .cid-tB0YZQqaCG .navbar.opened {
    height: auto;
  }
  .cid-tB0YZQqaCG .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tB10ubWVri {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB10ubWVri .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB10ubWVri .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB10ubWVri .mbr-section-title {
  color: #000000;
}
.cid-tB15AvPI4t {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB15AvPI4t .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB15AvPI4t .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB15AvPI4t .oldcost {
  text-decoration: line-through;
  color: #e43f3f;
}
.cid-tB15AvPI4t .currentcost {
  color: #232323;
}
.cid-tB15AvPI4t .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tB15AvPI4t .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tB15AvPI4t .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB15AvPI4t .text-box {
    padding: 1rem;
  }
}
.cid-tB15AvPI4t .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tB15AvPI4t .mbr-text,
.cid-tB15AvPI4t .cost,
.cid-tB15AvPI4t .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-tQdl1uYxXe {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tQdl1uYxXe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tQdl1uYxXe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tQdl1uYxXe .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tQdl1uYxXe .card {
    margin-bottom: 2rem!important;
  }
  .cid-tQdl1uYxXe .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tQdl1uYxXe .link-wrap {
    align-items: center;
  }
}
.cid-tQdl1uYxXe .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tB9ez4cVTX {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB9ez4cVTX img,
.cid-tB9ez4cVTX .item-img {
  width: 100%;
}
.cid-tB9ez4cVTX .item:focus,
.cid-tB9ez4cVTX span:focus {
  outline: none;
}
.cid-tB9ez4cVTX .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tB9ez4cVTX .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tB9ez4cVTX .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tB9ez4cVTX .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tB9ez4cVTX .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tB9ez4cVTX .mbr-section-title {
  color: #000000;
}
.cid-tB9ez4cVTX .mbr-text,
.cid-tB9ez4cVTX .mbr-section-btn {
  text-align: center;
}
.cid-tB9ez4cVTX .item-title {
  text-align: center;
}
.cid-tB9ez4cVTX .item-subtitle {
  text-align: center;
}
.cid-tPOzrHDc8k {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tPOzrHDc8k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tPOzrHDc8k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tPOzrHDc8k .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tPOzrHDc8k .team-card:hover {
  transform: translateY(-10px);
}
.cid-tPOzrHDc8k .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tPOzrHDc8k .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tPOzrHDc8k .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tPOzrHDc8k .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tPOzrHDc8k .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tPOzrHDc8k .social-row {
  text-align: center;
}
.cid-tPOzrHDc8k .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tPOzrHDc8k .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tPOzrHDc8k .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tPOzrHDc8k .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tPOAhap5aL {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tPOAhap5aL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tPOAhap5aL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tPOAhap5aL .item-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tPOAhap5aL .item-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tPOAhap5aL .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
.cid-tPOAhap5aL .card-title {
  color: #af8a2e;
}
.cid-tB83YwBUMj {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #004438;
}
.cid-tB83YwBUMj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB83YwBUMj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB83YwBUMj .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB1vWdJbT6 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB1vWdJbT6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1vWdJbT6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1vWdJbT6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tB1vWdJbT6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tB1vWdJbT6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tB1vWdJbT6 .mbr-text,
.cid-tB1vWdJbT6 .mbr-section-btn {
  text-align: left;
}
.cid-tB85bPoWQz {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #004438;
}
.cid-tB85bPoWQz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85bPoWQz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB85bPoWQz .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB1xoWzrbk {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tB1xoWzrbk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1xoWzrbk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1xoWzrbk .mbr-section-subtitle {
  text-align: left;
  color: #000000;
}
.cid-tB1yuhcVVi {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #004438;
}
.cid-tB1yuhcVVi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1yuhcVVi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1yuhcVVi .mbr-section-title {
  color: #ffffff;
}
.cid-tB1yuhcVVi .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tPOyKLFyGI {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tPOyKLFyGI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tPOyKLFyGI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tPOyKLFyGI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tPOyKLFyGI .row {
  flex-direction: row-reverse;
}
.cid-tPOyKLFyGI img {
  width: 100%;
}
.cid-tB1zGVstSm {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tB1zGVstSm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1zGVstSm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB1zGVstSm .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB1zGVstSm .row {
  flex-direction: row-reverse;
}
.cid-tB1zGVstSm img {
  width: 100%;
}
.cid-tB1A34S1NT {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #004438;
}
.cid-tB1A34S1NT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1A34S1NT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1A34S1NT .mbr-section-title {
  color: #ffffff;
}
.cid-tPOMHJjC7r {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tPOMHJjC7r img,
.cid-tPOMHJjC7r .item-img {
  width: 100%;
}
.cid-tPOMHJjC7r .item:focus,
.cid-tPOMHJjC7r span:focus {
  outline: none;
}
.cid-tPOMHJjC7r .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tPOMHJjC7r .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-tPOMHJjC7r .item {
  padding: 0;
  margin: 0;
}
.cid-tPOMHJjC7r .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tPOMHJjC7r .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tPOMHJjC7r .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tPOMHJjC7r .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tPOMHJjC7r .mbr-section-title {
  color: #000000;
}
.cid-tPOMHJjC7r .mbr-text,
.cid-tPOMHJjC7r .mbr-section-btn {
  text-align: center;
}
.cid-tPOMHJjC7r .item-title {
  text-align: center;
}
.cid-tPOMHJjC7r .item-subtitle {
  text-align: center;
}
.cid-tB85MvgqdZ {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #004438;
}
.cid-tB85MvgqdZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85MvgqdZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB85MvgqdZ .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB1AZH7rno {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB6Rwx4pqH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB6Rwx4pqH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB6Rwx4pqH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB6Rwx4pqH .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tB6Rwx4pqH .item {
    margin-bottom: 4rem;
  }
}
.cid-tB6Rwx4pqH .item:last-child .icon-box:before {
  display: none;
}
.cid-tB6Rwx4pqH .item.last .icon-box:before {
  display: none;
}
.cid-tB6Rwx4pqH .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tB6Rwx4pqH .icon-box {
    margin-right: 1rem;
  }
}
.cid-tB6Rwx4pqH .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #6592e6;
  transform: translate(-50%, 0);
}
.cid-tB6Rwx4pqH span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tB6Rwx4pqH .card {
    margin-bottom: 2rem;
  }
  .cid-tB6Rwx4pqH .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tB6Rwx4pqH .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tB6Rwx4pqH .icon-box::before {
    top: 114%;
  }
}
.cid-tB70oq8oqH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB70oq8oqH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB70oq8oqH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB70oq8oqH .content-wrapper {
  background: #004438;
}
@media (max-width: 991px) {
  .cid-tB70oq8oqH .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tB70oq8oqH .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tB70oq8oqH .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tB70oq8oqH .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tB70oq8oqH .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-tB70oq8oqH .mbr-text,
.cid-tB70oq8oqH .mbr-section-btn {
  color: #ffffff;
}
.cid-tB85KfdIqc {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tB85KfdIqc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB85KfdIqc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB737Xejsa {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tB737Xejsa .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tB737Xejsa .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tB737Xejsa .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6592e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tB76Gmn59F {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #004438;
}
.cid-tB76Gmn59F .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB76Gmn59F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB76Gmn59F .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-tB76Gmn59F .container {
    max-width: 1400px;
  }
}
.cid-tB76Gmn59F .card {
  margin: auto;
}
.cid-tB76Gmn59F .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-tB76Gmn59F .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tB76Gmn59F .row {
  justify-content: center;
}
.cid-tB76Gmn59F H3 {
  color: #ffffff;
}
.cid-tPOHAOO1qi {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tPOHAOO1qi .mbr-fallback-image.disabled {
  display: none;
}
.cid-tPOHAOO1qi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tPOHAOO1qi .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tPOHAOO1qi .row {
  flex-direction: row-reverse;
}
.cid-tPOHAOO1qi img {
  width: 100%;
}
.cid-tB78xBYzBD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tB78xBYzBD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB78xBYzBD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB78xBYzBD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB78xBYzBD .row {
  flex-direction: row-reverse;
}
.cid-tB78xBYzBD img {
  width: 100%;
}
.cid-tB88MG5MRU {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #004438;
}
.cid-tB88MG5MRU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB88MG5MRU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB88MG5MRU .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB78ZAKAzC {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB78ZAKAzC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB78ZAKAzC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB78ZAKAzC .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tB78ZAKAzC .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tB78ZAKAzC .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #af8a2e;
}
.cid-tB78ZAKAzC .panel-body,
.cid-tB78ZAKAzC .card-header {
  padding: 1rem 0;
}
.cid-tB78ZAKAzC .panel-title-edit {
  color: #000000;
}
.cid-tB7b1ZT912 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #004438;
}
.cid-tB7b1ZT912 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7b1ZT912 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7b1ZT912 .oldcost {
  text-decoration: line-through;
  color: #fafafa;
  text-align: center;
}
.cid-tB7b1ZT912 .currentcost {
  color: #ffffff;
  text-align: left;
}
.cid-tB7b1ZT912 .card-wrapper {
  border-radius: 4px;
  background: #004438;
}
@media (min-width: 992px) {
  .cid-tB7b1ZT912 .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tB7b1ZT912 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tB7b1ZT912 .text-box {
    padding: 1rem;
  }
}
.cid-tB7b1ZT912 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tB7b1ZT912 H5 {
  color: #ffffff;
  text-align: left;
}
.cid-tB7b1ZT912 .mbr-text,
.cid-tB7b1ZT912 .cost,
.cid-tB7b1ZT912 .mbr-section-btn {
  color: #ffffff;
}
.cid-tB7cKEntAa {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB7cKEntAa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7cKEntAa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7cKEntAa .mbr-section-title {
  color: #18356a;
}
.cid-tB7fx06dWW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tB7fx06dWW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7fx06dWW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tB7fx06dWW .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tB7fx06dWW .row {
  flex-direction: row-reverse;
}
.cid-tB7fx06dWW img {
  width: 100%;
}
.cid-tB7ggl8pAB {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tPP3nk7gy6 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tPP3nk7gy6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tPP3nk7gy6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tPP3nk7gy6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tPP3nk7gy6 .row {
  flex-direction: row-reverse;
}
.cid-tPP3nk7gy6 img {
  width: 100%;
}
.cid-tBuDGDhtk3 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tBuDGDhtk3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBuDGDhtk3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBuDGDhtk3 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-bottom: 4rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-tBuDGDhtk3 .item {
    margin-bottom: 4rem;
  }
}
.cid-tBuDGDhtk3 .item:last-child .icon-box:before {
  display: none;
}
.cid-tBuDGDhtk3 .item.last .icon-box:before {
  display: none;
}
.cid-tBuDGDhtk3 .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tBuDGDhtk3 .icon-box {
    margin-right: 1rem;
  }
}
.cid-tBuDGDhtk3 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tBuDGDhtk3 .card {
    margin-bottom: 2rem;
  }
  .cid-tBuDGDhtk3 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tB7Yu884tX {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #004438;
}
.cid-tB7Yu884tX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7Yu884tX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7Yu884tX ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tB7Yu884tX li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tB7Yu884tX ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tB7Yu884tX .list {
  color: #ffffff;
}
.cid-tB7Zpny08V {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #af8a2e;
}
.cid-tB7Zpny08V .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7Zpny08V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7Zpny08V .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tB7Zpny08V .mbr-section-title {
  color: #ffffff;
}
.cid-tBuMPzdHFY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMPzdHFY .mbr-section-title {
  text-align: center;
}
.cid-tBuMj9hDkk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMj9hDkk .mbr-section-title {
  text-align: center;
}
.cid-tBuOj1XZ1f {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuOj1XZ1f .mbr-section-title {
  text-align: center;
}
